<div class="container" style="margin-top: 50px; padding: 20px; background-color: #f8f9fa; border-radius: 10px; box-shadow: 0 4px 8px rgba(124, 112, 112, 0.1);">
    <h4 style="text-align: center; margin-bottom: 30px; color: #343a40;">View Employee</h4>
    <table class="table table-bordered" style="width: 100%; margin: auto; background-color: #ffffff; border-collapse: collapse;">
        <tr style="background-color: #343a40; color: #ffffff;">
            <th style="padding: 10px; text-align: left;">Field</th>
            <th style="padding: 10px; text-align: left;">Details</th>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Emp_Id</td>
            <td style="padding: 10px; border: 1px solid #ddd;"><b>{{employee.id}}</b></td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">First Name</td>
            <td style="padding: 10px; border: 1px solid #ddd;"><b>{{employee.firstName}}</b></td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Last Name</td>
            <td style="padding: 10px; border: 1px solid #ddd;"><b>{{employee.lastName}}</b></td>
        </tr>
        <tr>
            <td style="padding: 10px; border: 1px solid #ddd;">Salary</td>
            <td style="padding: 10px; border: 1px solid #ddd;"><b>{{employee.salary}}</b></td>
        </tr>
    </table>
</div>
